HOST_URL=127.0.0.1

BOT_DATA_HANDLER=8084
DRIVE_SHIFT_BOT=8085
MAIN=8086

TG_BOT_NAME=<username_бота>
TG_BOT_TOKEN=<токен_бота>

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USERNAME=<юзер>
RABBIT_PASSWORD=<пароль>
RABBIT_AMQP_PORT_MAPPING="5673:5672"
RABBIT_GUI_PORT_MAPPING="15673:15672"
RABBIT_TEXT_MESSAGE_UPDATE_QUEUE=text_message_update_queue
RABBIT_ANSWER_MESSAGE_QUEUE=answer_message_queue

POSTGRES_PORT_MAPPING="5433:5432"
POSTGRES_USERNAME=<юзер>
POSTGRES_PASSWORD=<пароль>
POSTGRES_DATABASE=<имя_БД>
POSTGRES_URL=jdbc:postgresql://postgres:5432/db
